* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lato';
    font-size: 1rem;
    font-weight: 300;
}

body{
    height: 100vh;
    /* background-image: linear-gradient(to right,  #2e3235, #042933); */
    background-color: #01060a;
    background-size: cover;
    background-position: cover;
}
::selection{
    background: #000;
    color: #fff
}
.hh{
    width: 40%;
}

/* COOKIES */
.cookie-popout-container{
    position: absolute;
    justify-content: center;
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    
    /* padding-top: 5%; */

    min-height: 100%;
    min-width: 100%;
    background-color:none;
    position: absolute;
    
    justify-content: center;
    z-index: 2;
}
.cookie-popout{
    position: absolute;
    z-index: 2;
    background-color: #0a0907;
    justify-content: center;
    text-align: center;
    
    margin: auto;
    margin-top: 60px;
    /* height: auto; */
    height: calc(30vh + 15rem);
    padding: 20px;
    padding-top: calc(30vh - 9rem);
    width: 50%;
    opacity: 1;
    color: #fff;
    transition: all .2s;
}
.cook_btn{
    background-color: rgb(255, 38, 0);
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

.cook_btn:hover{
    scale: 1.05;
    color: #fff;
}


li{
    list-style: none;
}
a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover{
    color:rgb(255, 38, 0);
}
/* HEADER */
header{
    position: sticky;
    padding: 0 2rem;
    top: 0;
    background-color: #000;
    background-image: linear-gradient(to top, #01060a, #042933);
    max-width: 60%;
    margin: auto;
}

.navbar{
    width: 95%;
    height: 60px;
    margin: 0 auto;
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    /* position: absolute; */
    top: 0;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    margin: auto;
    gap: 2rem;
}
.navbar .toggle_btn{
    color: #696868;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn{
    background-color: rgb(255, 38, 0);
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}

.action_btn:hover{
    scale: 1.05;
    color: #fff;
}

.action_btn:active{
    scale: 0.95;
}

.action_btn2{
    background-color: rgb(255, 38, 0); 
    color: #000000;
    padding: 0.7rem 1rem;
    border: none;
    outline: none;
    border-radius: 100%;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}

.action_btn2:hover{
    scale: 1.05;
    color: #fff;
}

.action_btn2:active{
    scale: 0.95;
}


.action_btn_open{
    border-radius: 20px;
    background-color: #rgb(255, 38, 0);
    padding: 0.5rem 1rem;
}
.action_btn_open:hover{
    scale:1.05;
    background-color: rgb(255, 38, 0);    
    color: #fff;
  }

  
/* .loader {
    margin: auto;
    width: 250px;
    height: 40px;
    --c:#fff 92%,#0000;
    background: 
      radial-gradient(circle 10px at bottom,var(--c)) 0 0,
      radial-gradient(circle 10px at top   ,var(--c)) 0 100%;
    background-size: calc(100%/6) 50%;
    background-repeat: repeat-x;
    animation: l11 2s infinite;
  }
  @keyframes l11 {
      80%,100% {background-position: calc(100%/3) 0,calc(100%/-15) 100%}
  } */
.loader {
    margin: auto;
    width: 240px;
    height: 22px;
    border-radius: 40px;
    color: #fff;
    border: 2px solid;
    position: relative;
    overflow: hidden;
    /* z-index: -1; */
  }
  .loader::before {
    content: "";
    position: absolute;
    margin: 2px;
    width: 14px;
    top: 0;
    bottom: 0;
    left: -20px;
    border-radius: inherit;
    background: currentColor;
    box-shadow: -10px 0 12px 3px currentColor;
    clip-path: polygon(0 5%, 100% 0,100% 100%,0 95%,-30px 50%);
    animation: l14 2s infinite linear;
  }
  @keyframes l14 {
    100% {left: calc(100% + 20px)}
  }


/* DROPDOWN MENU */
.dropdown_menu{
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0px;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: all .15s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu_open{
    position: absolute !important;
    font-weight: 600;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: auto;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    overflow: hidden;
    transition: all .15s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 200 !important;
    transform: translateZ(0);
    /* transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275); */

}
.dropdown_menu_open li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_menu_open li a{
    color: #000
}


.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.dropdown_menu2{
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0px;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: all .15s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu_open2{
    height: 240px;
    position: absolute;
    transform: translateZ(0);
    right: 2rem;
    top: 60px;
    width: 300px;
    height: auto;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: all .15s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 100;
    /* transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275); */

}
.dropdown_menu_open2 li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_menu2 li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* MAIN CONTENT */

.pass{
    margin: 0px !important;
}

.showPass{
    position: relative;
    left: 45%;
    top: 50%;
    transform: translateY(-120%);
    border: none;
    background: none;
    cursor: pointer;
    color: rgb(121, 121, 121);
    z-index: 3;
    max-width: 10px;
}

.form-control1{
    padding-right: 40px;
}


.main_content{
    margin-top: 40px;
    /* min-height:calc(100vh + 60px); */
    color: #fff;
    background-color: rgba(148, 148, 147, 0.671);
    text-align: center;
    max-width: 60%;
   
}


/* FOOTER */
.footer{
   
    margin-top: calc (100% - 60px);
    color: #fff;
    min-height: 60px;
    text-align: center;
    margin: auto;
    padding: 10px;
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
    background-color: #000;
    opacity: 0.8;
}

/* DIAGRAMS */
#diagrams_container{
    text-align: center;
    padding: 1rem;
}

#diagrams_container {
 padding: 5px;
 min-width: 200px;
 min-height: 45px;
 margin-top: 20px;

}
#diagrams_container .form-label{
    font-size: 1.2rem;
}

.diagrams_submit_button{
    background-color: rgba(249, 180, 45);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transition: all .2s;
    padding: 10px;
    font-size: 1.3rem;
    width: 60%;
    height: 45px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* color:#fff; */
}
.diagrams_submit_button:hover{
    background-color: rgba(243, 156, 18);
}
.diagrams_storage_button{
    background-color: #464545;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    transition: all .2s;
    color:#fff;    
    font-size: 1.3rem;
    margin-top: 20px;    
    margin-bottom: 20px;
}
.diagrams_storage_button:hover{
    background-color: #000
}

.diagrams_title{
   padding:30px;
}


.button1{
    opacity: 0.7;
    transition: all 0.3s;
    /* margin: 3px 3px 0 0; */
    border-radius: 10px 10px 0 0;
    min-width: 33.3%;
    min-height: 35px;
    background-color: #FFFFFF;
    color:black;
    border-left: solid 1px;
    border-right: solid 1px;
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-color: #a6a6a6;
    font-weight: bolder;
    font-size: 1.2rem;
    transition: all .2s;
  }
  .button1:hover{
    background-color: #e3e3e3;
    border-color: #a6a6a6;
    font-size: 1.1rem;
    opacity: 1;
    /* transform: scale(1.2); */
    /* color:#e6e6e6 */
  }
  .button2{
    /* margin: 3px 3px 0 0; */
    transition: all 0.3s;
    border-radius: 3px 3px 0 0;
    min-width: 33.4%;
    min-height: 35px;
    background-color: #f8f9fa;
    color:black;
    /* border-left: solid 1px;
    border-right: solid 1px;
    border-top: solid 1px;
    border-bottom: solid 0px; */
    border: none;
    font-weight: bolder;
    font-size: 1.2em;      
    transition: all .2s;
  }
  .button2:hover{
    background-color: #e3e3e3;
    border-color: #a6a6a6;
    font-size: 1rem;
    opacity: 1;
    /* color:#e6e6e6 */
  }

.drag_n_drop_items{
    padding: 10px 14px 10px 14px;
    text-align: center;
    justify-content: center;
    background-color: #464545;
    margin: 5px;
    cursor: pointer;
    
}
.drag_n_drop_items h3{    
    text-align: center;
    justify-content: center;
    margin: auto;

}
.drag_n_drop_items:hover{
    background-color: #000e31;

}

.user_login{
    color:#fff;
    margin-right: 30px;
}

/* SQL SCRIPTS */
.sqlContainer{
   
  gap: 5px;
  padding: 5px;
  min-height: 400px;
}

.sqlNavBar{
    justify-content: center;

}
.sql_form-label{
    text-align: center;
    font-size: 1.01rem;

}
.sqlName{
    border-radius: 5px;
    border: none;
    background-color: #cacaca;
    outline: none;
    margin-bottom: 8px;
    min-width: 100%;
    margin-left:1rem;
    padding: 8px;
}

.sqlCatChoose{
    left: 0;
    border-radius: 5px;
    border: none;
    background-color: #cacaca;
    outline: none;
    min-height: 2.5rem;
    min-width: 100%;
    
}

.formated{
    text-align: left;
    min-width: 100%;
    height: calc( 80vh - 10rem);
    z-index: -10 !important;
}

.formated2 {
    height: calc( 80vh - 10rem - 150px);
    margin-top: calc(150px)
}

.cm-layer .cm-layer-above .cm-cursorLayer{
   
    z-index: -10 !important;
}
.formated::selection{
    background-color: #000;
    color: #fff;
}

.sqlscripts{
   
    justify-content: center;
    margin: auto;
    padding: 30px;
}

.button_script{
    background-color:#ffa500;
    border: none;
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
    transition: all .2s;

}

.button_script:hover{
    background-color:#d68d06;
}

.sqlLangChoose{
    left: 0;
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: #cacaca;
    outline: none;
    
}
.scriptSideNavBar{
    text-align: left;;
   justify-content: left;
   background-color: rgba(255, 255, 255, 0.2);
   max-height: calc(100% - 53px);
   
}
.sqlForm{
   /* background-color: #000; */
   z-index: -1 !important;
}


.sqlFormBar1{
    display: inline;
    margin:auto;
    min-inline-size: 400px;
}
.sqlFormBar2{
    display: inline;
}



/* 3D PRINTS */

.threedeeprints{
    /* max-width: 500px; */
    justify-content: center;
    margin: auto;
    padding: 30px;
}

/* NO PAGE */

.no_page{
    max-width: 60%;
    justify-content: center;
    margin: auto;
    padding: 30px;
    color:#fff;
    font-size: 1.3rem;
}

/* HOME */

.about_me h1{
    text-align: center;
    margin-bottom: 3rem;
}
.about_me {
    text-align: center;
}

.home{
    max-width: 500px;
    justify-content: center;
    margin: auto;
    padding: 30px;
}
.social_m_icon{
    font-size: 2.5rem;
    padding: 10px;
}

/* MYMODAL */

.modal-content{
}

.fuction_modal{
    margin-top: 60px;
}


/* USERS */

.users{
    
    justify-content: center;
    margin: auto;
    padding: 30px;
}
.login_options{
    display: flex;
    justify-content: center;
    
    
}
.login_option1{
    text-align: right;
    margin-left:10px;
    margin-right:10px;
    padding-bottom: 20px;
}
.login_option2{
    text-align: left;
    margin-left:10px;
    margin-right:10px;
    padding-bottom: 20px;
    
}
.login_res_hide{
    display: none;
}

.login_res_show{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
}
.login_res_s{
    color: rgb(50, 227, 50);
}
.login_res_f{
    color: rgb(255, 0, 0);
}

/* BDD */

.parent{
    background-color: #f8f9fa;
    color: #000;
}
.parent .shorterFunction .row .col-md-3 .shorterFunctionBody1 {   
    padding: 5px;    
}

.parent .shorterFunction .row .col-md-9 .shorterFunctionBody2 { 
    padding: 5px;    
}
.parent .stats{
    margin-bottom: 40px;
}

.parent .stats label{
    margin-left: 4px;
}

/* CONTACT */

.contact_form{
 max-width: 500px;
 justify-content: center;
 margin: auto;
 padding: 30px;
}

/*REESULT*/

.result{
    background-color: #cacaca ;
    min-height: 100vh;
    
}
.resF{
    font-size: 1rem;
}
.resF2{
    margin: auto;
}
.resTable{
    max-width: 90vw;
    margin:auto;
    font-weight: bold;
}
.tDark{
    border-color: #000;
    
}
.tHead{
    color:#fff;
    background-color: #f61616;
}
.rAh{
    max-width: 20vh;
}
.teamList{
    border: #fff 1px solid;
    width: 80%;
    margin: auto;
}
.resultAddField{
    min-width: 50%;
    max-width: 50%;
    min-height: 3rem;
}
.resultAddField2{
    min-width: 20%;
    min-height: 3rem;
}
.resultAddField2{
    min-width: 20%;
    min-height: 3rem;
    width: 100%;
    text-align: center;
}
.bigFont{
    font-size: 1.2rem;
}
.bigFont2{
    font-size: 0.8rem;
}
.paddingAdd{
    padding-bottom: 1rem;
    padding-top: -20px;
}
.butN2{
    width: 70%;
    border: #000 1px solid;
    border-radius: 10px;
}
.teamListBtn{
    display: inline;
    /* margin-left: 50%; */
}
.Teams2{
    padding-top: 2rem;
    color: #FFFFFF;
    font-size: 1rem;
    max-width: 60%;
    margin: auto;
}
.fontWhite{
    color: #FFFFFF;
}
.tDark{
    background-color: #fff;
    margin-bottom: 2rem;
}
.resAdmin{
}

/* RESPONSIVE */

@media (max-width: 992px) {
    .navbar .links,
    .navbar .action_btn,
    .action_btn2 ,
    .dropdown_menu2,
    .dropdown_menu_open2{
        display: none;
    }
    

    .navbar .toggle_btn{
        display: block;
    }
    .navbar{
        width: 100%;
    }
    .resF{
        font-size: 2vw;
    }
    .Teams2{
        
        max-width: 100%;
    }
}

@media (max-width: 576px) {
    .dropdown_menu_open{
        left: 2rem;
        width: unset;
    }
    .resF{
        font-size: 2vw;
    }
    .Teams2{
        
        max-width: 100%;
    }
    .hh{
        width: 50%;
    }
    header{
        max-width: 100vh;
    }
    .main_content{
        max-width: 100vh;
    }
}